<!-- views/index.ejs -->
<!doctype html>
<html>
<head>
    <title>ToppyChat</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
    <style>
        body        { padding-top:80px; }
		.section{
			text-align: center;
			
		}
		.section img{
			display: block;
			width: 60%;
			margin: 0 auto;
		}
    </style>
</head>
<body>
<div class="container">

    <div class="section">
        <!--h1><i class="fa fa-quote-left"></i> ToppyChat <i class="fa fa-quote-right"></i> </h1>
		
        <p style="font-size : 30px;font-family:微軟正黑體">主題聊天 暢聊一整天</p-->
		<img src="img/logo01.png"><br>
        <a href="/login" class="btn btn-info" style="margin-right: 10px;"><span class="fa fa-user" ></span> 登入</a>
        <a href="/signup" class="btn btn-info"><span class="fa fa-user"></span> 註冊</a>
    </div>

</div>
</body>
</html>