<!DOCTYPE html>
<html>
<head>
    <title>Profile</title>
    <% include /partials/head %>
</head>
<body>
	<header>
		<% include /partials/navbar %>
	</header>
<div class="container">

    <div class="page-header text-center">
        <h1><span class="fa fa-anchor"></span> Profile Page</h1>
    </div>
	
	 <% if (message.length > 0) { %>
			<div class="alert alert-<%- success===true? 'success':'danger' %>"><%= message %></div>
    <% } %>

    <div class="row">

        <!-- LOCAL INFORMATION -->
        <div class="col-md-8 col-md-offset-2" >
            <div class="well">
                <h3><span class="fa fa-user"></span>  <%= user.userid %></h3>

                    <p>
						<form role="form" action="/profile" method="post">
						  <div class="form-group">
							<label for="nickname">Nickname</label>
							<input type="text" class="form-control" id="nickname" value="<%= user.nickname %>" name="nickname">
						  </div>
						  <div class="form-group">
							<label for="pwd">Current password:</label>
							<input type="password" class="form-control" id="pwd" name="password">
						  </div>
						  <div class="form-group">
							<label for="npwd">New password:</label>
							<input type="password" class="form-control" id="npwd" name="newpassword">
						  </div>
						
						  <button type="submit" class="btn btn-default">Submit</button>
						</form>
						
                    </p>
				

            </div>
        </div>

    </div>

</div>
</body>
</html>