<!DOCTYPE html>
<html>
<head>
	
	<title>chat</title>
	<% include /partials/head %>
	
</head>
<body>
	<header>
		<% include /partials/navbar %>
	</header>
	<div class="container">
		<div class="row">
			<div class="col-md-3" id="friendListArea">
				<ul class="list-group" id="friendList">
				  <li class="list-group-item list-group-item-info">Friends</li>
				 
				</ul>
			</div>
			<div class="col-md-9" id="chatArea">
			
				
				<!-- Nav tabs from Bootstrap 3 -->
				<ul id="myTab" class="nav nav-tabs" role="tablist">
					<li role="presentation" id="li1" class="active">
						<a href="#tab1" aria-controls="tab1" role="tab" data-toggle="tab">Topics</a>
					</li>
					<!--li id="last"><a href="#addTab"><span class="glyphicon glyphicon-plus"></span> Add Tab</a></li-->
				</ul>
			
				<!-- Tab panes from Bootstrap 3 -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane fade in active" id="tab1">
						
						<div id="createWrap">
							<form id="createTopic" class="form-inline" role="form">
								<input  id="inputTopic"  class="form-control" size="60" autocomplete="off"/>
								<button type="submit" class="btn btn-warning">新增主題</button>
							</form>
						</div>
						
						<div id="topicWrap" class="panel panel-default">
							 
							<div id="topics"></div>
						</div>
						
						<div id="chatWrap" class="panel panel-default">
							<div id="chat"></div>
							<form id="send-message" class="form-inline">
								<button  type="button" class="btn btn-default" id="quitBtn">離開</button>
								<input size="50"  class="form-control" id="message" autocomplete="off" disabled />
								<button type="submit"  class="btn btn-default" id="sendMsg">傳送</button>
								<button  type="button" class="btn btn-info" id="addBtn">加好友</button>
							</form>
						</div>
					</div>
				</div>
				
				
			</div>
		</div>
	</div>
	
	
	
	
	<script src="/socket.io/socket.io.js"></script>
	<script>
		jQuery(function($){
			var socket = io.connect();
			var $topicForm = $('#createTopic');
			var $inputTopic = $('#inputTopic');
			var $msgForm = $('#send-message');
			var $msgBox = $('#message');
			var $chat = $('#chat');
			var $topics = $('#topics');
			
			$topicForm.submit(function(e){
				e.preventDefault();
				if( $inputTopic.val().length > 30){
					alert('請輸入30字以內！');
				}
				else if($inputTopic.val()!=''){
					var topicStr = $inputTopic.val();
					socket.emit('new topic', $inputTopic.val(), function(data){
						console.log("topic created!");
						$('#createWrap').hide();
						$('#topicWrap').hide();
						$('#chatWrap').show();
						var str = '已建立主題：<div class="topic">'+topicStr+'</div><p>等待陌生人...</p>'
						
						$chat.html(str);
					});
				}
				
				$inputTopic.val('');
			});
			
			socket.on('topics', function(data){
				var html = '';
				var len = Object.keys(data).length;
				var ids = Object.keys(data);
				
				for(i=0; i<len; i++){
					var tpc = data[ids[i]];
					html += '<div class="topic" id="'+ ids[i] +'">' + escapeHtml(tpc) + '</div>';
				}
				$topics.html(html);
			});
			
			$('#topics').on('click','div.topic', function(){
				console.log("a topic clicked!");
				var id = $(this).prop('id');
				socket.emit('topic clicked', id, function(data){
					$('#createWrap').hide();
					$('#topicWrap').hide();
					$('#chatWrap').show();
					$chat.html('您已進入：<div class="topic">' + data + '</div><br/>');
					$msgBox.prop('disabled', false);
				});
			});
			
			socket.on('guest coming', function(data){/**主題被連入*/
				$msgBox.prop('disabled', false);
				$chat.append('有人來囉~開始聊天吧 :D<br/>');
			});
			$msgForm.submit(function(e){/**發訊息*/
				e.preventDefault();
				if($msgBox.val()!=''){
					socket.emit('send message',$msgBox.val());
					//$chat.append('<span class="You-msg">You: </span>' + $msgBox.val() + '<br/>')
					var item = $('<p class="triangle-isosceles right msg you-msg">' + $msgBox.val() + '</p>').hide().fadeIn(200);
					$chat.append(item);
					scrollToBottom();
				}
				$msgBox.val('');
			});
			socket.on('new message', function(data){/**收到訊息*/
				var msg = escapeHtml(data)
				//$chat.append('<span class="stranger-msg">Stranger: </span>' + msg + '<br/>');
				var item = $('<p class="triangle-isosceles left msg stranger-msg">' + msg + '</p>').hide().fadeIn(200);
				$chat.append(item);
				scrollToBottom();
			});
			socket.on('guest left', function(data){
				
				$chat.append('<div class="leave"><p class="leave-msg">陌生人已經離開</p> <button class="btn btn-danger" onclick="location.reload();">回主頁</button></div>');
				$msgBox.prop('disabled', true);
				//$chat.append(' ');
				scrollToBottom();
				// 
				
			});
			/*socket.on('whisper', function(data){
				data = escapeHtml(data);
				$chat.append('<span class="whisper"><b>'+data.nick + ': </b>' +data.msg + '</span><br/>');
			});*/
		
			function scrollToBottom(){
				
				$chat.scrollTop($chat[0].scrollHeight);
			}
		});
	
		function escapeHtml(str) {
			if (typeof(str) == "string") {
				str = str.replace(/&/g, "&amp;"); /* must do &amp; first */
				str = str.replace(/"/g, "&quot;");
				str = str.replace(/'/g, "&#039;");
				str = str.replace(/</g, "&lt;");
				str = str.replace(/>/g, "&gt;");
			}
			return str;
		}
		
	</script>

</body>
</html>