.navbar-default {
  background-color: #87bcff;
  border-color: #359be1;
}
.navbar-default .navbar-brand {
  color: #f4f9ff;
}
.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
  color: #ffffff;
}
.navbar-default .navbar-text {
  color: #f4f9ff;
}
.navbar-default .navbar-nav > li > a {
  color: #f4f9ff;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
  color: #ffffff;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
  color: #ffffff;
  background-color: #359be1;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
  color: #ffffff;
  background-color: #359be1;
}
.navbar-default .navbar-toggle {
  border-color: #359be1;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
  background-color: #359be1;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #f4f9ff;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #f4f9ff;
}
.navbar-default .navbar-link {
  color: #f4f9ff;
}
.navbar-default .navbar-link:hover {
  color: #ffffff;
}

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #f4f9ff;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #ffffff;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #ffffff;
    background-color: #359be1;
  }
}


.nav-tabs>li>a:hover{
	background: #3498DB;
	border: 1px solid #B1CBF9;
	color: #fff;
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus {
  color: #fff;
  cursor: default;
  background-color: #3498DB;
  border: 1px solid #B1CBF9;
  border-bottom-color: transparent;
}
.nav-tabs {
  border-bottom: 1px solid #2B9CCB;
}

.page-header {
  padding-bottom: 9px;
  margin: 40px 0 20px;
  border-bottom: 1px solid #CEDEF8;
}
.well {
  min-height: 20px;
  padding: 19px;
  margin-bottom: 20px;
  background-color: #87BCFF;
  border: 1px solid #e3e3e3;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
  color: white;
}